@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

body {
  height: 100vh;
  margin: 0;
  overflow: hidden;
  font-family: Roboto, sans-serif;
}

img {
  width: 600px;
}

button {
  font-family: Roboto, sans-serif;
  border: none;
  border-radius: 8px;
  background: #eee;
}

input {
  border: 1px solid #ddd;
  border-radius: 16px;
  padding: 8px 24px;
  width: 400px;
  margin-bottom: 16px;
}

/* Solution */
/* fixing layout */
body {
  display: flex;
  flex-direction: column;
}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content   : center;
  flex: 1;  /* COPIED HAHAHAHA PERO I KNOW NOW NA FLEX GROW NA AMEN*/
}

.left-links,
.right-links {
  display: flex;
  flex-direction: row;
}

.header,
.footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.footer {
  background-color:#eee;
}

/* to remove list bullets in lists and underline in hyperlinks */
a {
  text-decoration: none;
  color: #666;
}

li {
  list-style: none;
  margin: 10px;
}

button {
  padding: 5px;
  margin: 5px;
}